# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# SSL certificates
ssl/

node_modules
.vs/

# dependencies
/node_modules
/.pnp
.pnp.js

# Dependency directories
node_modules/

.env