.react-calendar {
    @apply w-full h-fit border-2 border-gray-300 shadow-lg lg:pb-4;
    /*width: 100%;
    height: 100%;
    border: none;
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;*/
  }
  
  /*.react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }*/
  
  /*.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }*/
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    @apply flex h-[52px] sm:h-[60px] mb-[1rem] border-b-2 border-gray-300;
  }
  
  .react-calendar__navigation button {
    @apply text-licorice min-w-[40px] sm:min-w-[52px] transition-colors duration-100 ease-in-out;
  }
  
  .react-calendar__navigation__label {
    @apply pointer-events-none text-lg sm:text-xl;
  }

  .react-calendar__navigation__arrow {
    @apply border-2 hover:bg-licorice hover:text-white mx-10 my-1 rounded-md border-licorice text-lg font-bold;
  }

  .react-calendar__navigation button:disabled {
    @apply bg-gray-200 text-gray-300 border-gray-300;
    /* background-color: #f0f0f0; */
  }
  
  .react-calendar__navigation__prev2-button {
    @apply hidden;
  }
  
  .react-calendar__navigation__next2-button {
    @apply hidden;
  }

  /*.react-calendar__viewContainer {
    @apply border-t-2;
  }*/
  
  .react-calendar__month-view__weekdays {
    @apply text-center uppercase font-bold text-xs;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    @apply p-0.5;
  }

  .react-calendar__month-view__weekdays__weekday abbr{
    @apply no-underline;
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    @apply text-green-700;
  }
  
  .react-calendar__tile {
    @apply py-[10px] px-[6.6667px] sm:py-[15px] md:py-[16px] lg:md:py-[6px] pointer-events-none text-center text-sm bg-white transition-colors duration-150 ease-in-out;
  }
    
  .react-calendar__tile:enabled abbr {
    @apply flex border-slate-400 border-2 text-black rounded-full h-10 w-10 items-center justify-center mx-auto pointer-events-auto;
  }

  .react-calendar__tile:enabled:hover abbr{
    @apply bg-slate-300;
  }

  .react-calendar__tile--active:enabled:hover abbr{
    @apply bg-licorice;
  }

   .react-calendar__tile--active:enabled abbr{
    @apply bg-licorice text-white border-licorice;
  }

  .react-calendar__tile:disabled {
    @apply bg-gray-200 text-gray-400;
  }

  .react-calendar__tile:disabled abbr {
    @apply flex border-gray-200 border-2 text-gray-400 rounded-full h-10 w-10 items-center justify-center mx-auto;
  }